<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <h5 class="card-header"><strong>ALL GAMES</strong></h5>
      <div class="card-body row">
        <ul>
          <% games.forEach((game) => { %>
            <li>
              <a href="/games/<%= game.id %>">
                <%= game.title %>
              </a>
            </li>
            <div class="underline"></div>
            <% }); %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <h2>Games</h2>
    </div>
    <% games.forEach((game) => { %>
      <div class="container">
        <div class="row">
          <div class="col col-lg-4"><a href="/games/<%= game.id %>"><img class="img-fluid gameImage" src="<%= game.image %>" alt="<%= game.title %>"></a>
          </div>
          <div class="col col-lg-8">
            <div class="row">
              <h3><a href="/games/<%= game.id %>"><%= game.title %></a></h3>
            </div>
            <p>
              <%= game.description %>
            </p>
          </div>
        </div>
      </div>
      <div class="underline"></div>
      <% }) %>
  </div>
</div>
