
<h2><%= game.title %></h2>
<img src="<%= game.image %>" alt="<%= game.name %>">

  <% if(locals.isLoggedIn) { %>
<form method="POST" action="/users/<%= locals.user.id %>/collectionLog">
  <input type="hidden" value="<%= game.id %>" name="id" id="gameID">
  <button class="button">add to collection</button>
</form>

<form method="POST" action="/users/<%= locals.user.id %>/wishList">
  <input type="hidden" value="<%= game.id %>" name="id" id="gameID">
  <button class="button">add to Wish List</button>
</form>
<% } %>

<% game.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small>Comment by: <%= comment.createdBy.username %></small>

      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
        <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
    <% }) %>

    <% if(locals.isLoggedIn) { %>
      <section>
        <h4>Leave a comment</h4>
        <form method="POST" action="/games/<%= game.id %>/comments">
          <textarea name="content" id="content" placeholder="Comment"></textarea>
          <button class="button">Leave a comment</button>
        </form>
      </section>
    <% } %>
