<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <h5 class="card-header"><strong>My Lists</strong></h5>
      <div class="card-body row">
        <h6 class="card-title">Collection: </h6>
        <ul>
          <% user.collectionLog.forEach((game) => { %>
            <li>
              <a href="/games/<%= game.id %>">
                <%= game.title %>
              </a>
            </li>
            <% }); %>
        </ul>
      </div>
      <div class="underline"></div>
      <div class="card-body row">
        <h6 class="card-title">Wish List: </h6>
        <ul>
          <% user.wishList.forEach((game) => { %>
            <li>
              <a href="/games/<%= game.id %>">
                <%= game.title %>
              </a>
            </li>
            <% }); %>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-lg-9">
    <div class="row">
      <h2>My Profile</h2>
    </div>
    <div class="row">
      <p> Name:
        <%= user.firstName %>
          <%= user.lastName %>
      </p>
      <p> UserName:
        <%= user.username %>
      </p>
      <p> Email:
        <%= user.email %>
      </p>
    </div>
    <div class="container flexCard">
      <% user.playLog.forEach((log) => { %>
        <div class="col-lg-6">
          <div class="card">
            <p class="card-header"><strong><%= log.game.title %></strong></p>
            <div class="card-body row">
              <ul>
              <li><%= log.endGameImage %></li>
              <li><i class="fa fa-calendar fa-2x dateIcon" aria-hidden="true"> </i>  <%= log.datePlayed %></li>
              <li><i class="fa fa-book fa-2x rulesIcon" aria-hidden="true"> </i>  <%= log.winCondition %></li>
              <li><i class="fa fa-trophy fa-2x winIcon" aria-hidden="true"> </i>  <%= log.result %></li>
              <li><i class="fa fa-commenting fa-flip-horizontal fa-2x notesIcon" aria-hidden="true"> </i>  <%= log.gameNotes %></li>
              </ul>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</div>
